<div class="login-card">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    <div class="form-group row">
      <label for="email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
          placeholder="Email"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="password" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
          placeholder="Password"
        />
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
    <div>
      Or <br />
      Want to Register as HR-Assisstant <a href="/register">click here</a>
    </div>
  </form>
</div>
